body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.custom-div {
    background-image: url('media/bg1.jpg'); /* Replace with the actual path to your background image */
    background-size: cover;
    background-position: center;
  
    height: 100vh;
    border: 1px solid #000;
}


.navbar-custom {
    background-color: transparent;
    border-bottom: 1px solid #ced4da;
}

.name-container {
    text-align: center; /* Center the content */
}

.navbar-brand {
    font-size: 24px;
}

.navbar-brand .name {
    color: #ffc107;
    font-weight: bold;
    text-decoration: none; /* Remove underline from the link */
}

.profession {
    display: block; /* Make it a block element */
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin: 0 10px;
}

.navbar-nav .nav-link:hover {
    color: #6c757d;
}



/* Hero Section Styles */

.hero {
    position: relative;
    color: #fff;
    height: 100vh; /* Set height to 100% of the viewport height */
    display: flex;
    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content span.text-danger {
    font-weight: 500; /* Adjust this value for desired boldness */
  }






  /* Services Section Styles */
.services .card {
  transition: transform 0.3s ease;
  height: 100%;
}

.services .card:hover {
  transform: scale(1.05);
}

.services .card-body {
    padding: 1cm;

}


/* Skills Section Styles */
.skills {
    background-color: #fff;
    text-align: center;
    padding: 50px 0;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}



/* Projects Section Styles */
.projects {
    background-color: #220E3F;
    padding: 50px 0;
    text-align: center;
}

.project h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #fff;
}

.carousel-item img,
.carousel-item iframe {
  width: 100%;
  height: 65vh; /* Adjust the height as needed */
  object-fit: scale-down;
}




.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  background-color: #000;
}


.project p {
    font-weight: normal;
    margin-bottom: 10px;
    color: #fff;
}

.project a {
    text-decoration: none;
    color: inherit;
    color: #fff;
}

.additional-text {
    font-weight: normal;
    display: none;
    color: #fff;
}

.project .read-more {
    display: inline-block;
    width: 120px; /* Adjust the width as needed */
    padding: 5px 10px;
    background-color: #ffc107;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project .read-more:hover {
    background-color: #ffb007;
    
}

.project .read-less {
    display: none;
    width: 100px; /* Adjust the width as needed */
    padding: 5px 10px;
    background-color: #333; /* Red color for "Read less" */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project .read-less:hover {
    background-color: #000;
}





/* WHY ME  ?  */
/* CSS File */
.why-me {
    background-color: #fff;
    text-align: center;
    padding: 50px 0;
}

.fa-linkedin {
    color: #0077B5; /* Change to the desired color */
}

.fa-upwork {
    color: #6F00FF; /* Change to the desired color */
}

.fa-github {
    color: #211F1F; /* Change to the desired color */
}

.fa-stack-overflow {
    color: #F48024; /* Change to the desired color */
}

.fa-medium {
    color: #333; /* Change to the desired color */
}

.fa-briefcase{
    color: #00AB6C; /* Change to the desired color */
}

.social-list-item{
    height: 109px;
}
.social-list-item .card-body{
    justify-content: center;
    align-items: center;
}





/* Reviews Section Styles */
.reviews {
    background-color: #220E3F;
    padding: 50px 0;
    text-align: center;
}


.reviews-list-container {
    overflow-x: auto;
    
}

.reviews-list {
    display: flex;
    flex-wrap: nowrap;
}


.review {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    margin: 20px;
    box-sizing: border-box;
    text-align: left;
    transition: transform 0.3s ease;
    min-width: 700px; /* Adjusted minimum width */
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #ffb007; /* Set background color */
    color: #fff; /* Set text color */
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px; /* Add space between avatar and name */
}


.client-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.client-info img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px; /* Set a specific width for the client images */
    height: 50px; /* Set a specific height for the client images */
}

.client-info h3 {
    font-size: 1.5em;
    margin: 0;
}

.review p.review-text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.rating {
    font-size: 1.5em;
    color: #FFD700;
}

.review:hover {
    transform: scale(1.05);
}





.contact {
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
}


.footer{
    background-color: #220E3F;
}

